.tooltip {
    position: absolute;
    font-family: sans;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    width: 200px;
    
    display: none;

    transform: translateX(-50%);
    margin-top: 25px;
}

.tooltip.tooltip-shown {
    display: block;
}

.tooltip .title,
.tooltip .subtitle,
.tooltip span {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
    font-weight: normal;
}

.tooltip .subtitle {
    color: gray;
    font-weight: bold;
    margin-bottom: 7.5px;
}

.tooltip .data {
    display: flex;
}

.tooltip .data:not(:first-of-type) {
    border-top: solid 1px #e7e7e7;
    padding-top: 2.5px;
    margin-top: 2.5px;
}

.tooltip .data > .data-label {
    color: gray;
    margin-right: 20px;
    white-space: nowrap;
}

.tooltip .data > .data-value {
    width: 100%;
    text-align: right;
}